<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" />
    <link rel="stylesheet" href="app.css" />
    <title>CHNsOllywood</title>
</head>

<body>

    <div class="sq d-none d-md-none d-lg-block d-xl-block">
        <div class="container">
            <h1 class="s display-4">CHNsOllywood Search</h1>
            <a class="" href="https://facebook.com/CHNsPart"><i class="fab fa-facebook-f"></i></a>
            <a class="" href="https://instagram.com/CHNsPart"><i class="fab fa-instagram"></i></a>
            <a class="" href="https://instagram.com/CHNsPart"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            <p class="lead sa">
                This is world wide movie/series/anime details platform.
            </p>
            <form action="results" autocomplete="off" method="GET">
                <input type="text" autocomplete="off" class="form-control-file"
                    placeholder="search any movies/serieses for details" name="search" />
                <button id="button" class="btn btn-light btn-lg" type="submit">
                    search
                </button>
            </form>
        </div>
    </div>
    <div class="container d-xs-block d-lg-none my-4 mt-5 pt-5 px-3">

        <img class="invert" id="hero" style="width: 100px; width: 100px;"
            src="https://www.pngkit.com/png/full/44-445715_air-force-logo-png-vector-air-force-symbol.png" alt="" />
        <h1 class="s display-4-md">CHNsOllywood Search</h1>
        <a class="" href="https://facebook.com/CHNsPart"><i class="fab fa-facebook-f"></i></a>
        <a class="" href="https://instagram.com/CHNsPart"><i class="fab fa-instagram"></i></a>
        <a class="" href="https://justpaste.it/33kri/pdf"><i class="fa fa-envelope" aria-hidden="true"></i></a>
        <p class="lead sa">
            This is a world wide movie/series/anime details platform.
        </p>
        <form action="results" autocomplete="off" method="GET">
            <input type="text" autocomplete="off" class="form-control-file"
                placeholder="search any movies/serieses for details" name="search" />
            <button id="button" class="btn btn-light btn-lg" type="submit">
                search
            </button>
        </form>
    </div>
    <% if (message.length!=0){ %>
    <div class="container">
        <div class="mt-5 text-center" role="alert">
            <strong id="strong">
                <%= message %>
            </strong>
        </div>
    </div>
    <% } %>
</body>

</html>